{{#link-to "create"}}
  <button type="button" id="compose">Compose</button>
{{/link-to}}

<nav class="nav">
  {{#link-to "index"}}
    Inbox |
  {{/link-to}}
  {{#link-to "sent"}}
    Sent |
  {{/link-to}}
  {{#link-to "trash"}}
    Trash
  {{/link-to}}
</nav>
{{outlet}}
